<div class="container mt-4">

	<div class="flex align-items-center mb-3">
		<p-button icon="pi pi-arrow-left" text="true" severity="secondary" (onClick)="goBack()" class="mr-1">
		</p-button>

		<h2 class="m-0 text-xl font-bold flex align-items-center gap-2">
			User Detail
			<i class="pi pi-user mr-2"></i>
		</h2>
	</div>

	<p-card>
		<p-divider align="left">
			<span class="font-semibold">
				<i class="pi pi-user mr-2"></i>
				Personal Information
			</span>
		</p-divider>
		<div class="grid">
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					NIK / Passport ID
				</label>
				<div class="p-inputtext w-full">
					{{ userData.nik || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Full Name
				</label>
				<div class="p-inputtext w-full">
					{{ userData.fullName || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Email
				</label>
				<div class="p-inputtext w-full">
					{{ userData.email || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Phone Number
				</label>
				<div class="p-inputtext w-full">
					{{ userData.mobilePhone || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Place of Birth
				</label>
				<div class="p-inputtext w-full">
					{{ userData.placeOfBirth || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Date of Birth
				</label>
				<div class="p-inputtext w-full">
					{{ userData.dateOfBirth || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Marital Status
				</label>
				<div class="p-inputtext w-full">
					{{ userData.maritalStatus || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Address
				</label>
				<div class="p-inputtext w-full">
					{{ userData.address || '-' }}
				</div>
			</div>

		</div>
		<p-divider align="left">
			<span class="font-semibold">
				<i class="pi pi-users mr-2"></i>
				Parent Information
			</span>
		</p-divider>
		<div class="grid">
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Parent UID
				</label>
				<div class="p-inputtext w-full">
					{{ userData.parentUid || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Parent Profile ID
				</label>
				<div class="p-inputtext w-full">
					{{ userData.parentProfileId || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Parent Full Name
				</label>
				<div class="p-inputtext w-full">
					{{ userData.parentFullName || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Parent ID
				</label>
				<div class="p-inputtext w-full">
					{{ userData.parentId || '-' }}
				</div>
			</div>
		</div>
		<p-divider align="left">
			<span class="font-semibold">
				<i class="pi pi-cog mr-2"></i>
				System Information
			</span>
		</p-divider>
		<div class="grid">
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					User ID
				</label>
				<div class="p-inputtext w-full">
					{{ userData.id || '-' }}
				</div>
			</div>
			<div class="field col-12 md:col-6 mb-4">
				<label class="font-semibold block mb-2">
					Version
				</label>
				<div class="p-inputtext w-full">
					{{ userData.version || '-' }}
				</div>
			</div>
		</div>
		<div class="flex justify-content-end gap-2 mt-4">
			<p-button label="Back" icon="pi pi-arrow-left" severity="secondary" (onClick)="goBack()">
			</p-button>
			<p-button label="Edit User" icon="pi pi-user-edit" (onClick)="editUser(userData.id)">
			</p-button>
		</div>
	</p-card>
</div>