<div class="container mt-4">
	<div class="flex align-items-center mb-3">
		<p-button icon="pi pi-arrow-left" text="true" severity="secondary" (onClick)="goBack()">
		</p-button>
		<h2 class="m-0 text-xl font-bold flex align-items-center gap-2">
			User Detail
			<i class="pi pi-user"></i>
		</h2>
	</div>
	<p-card>
		<div class="grid">
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">NIK / Passport ID</label>
				<div class="detail-text">{{ userData.nik || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Full Name</label>
				<div class="detail-text">{{ userData.fullName || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Email</label>
				<div class="detail-text">{{ userData.email || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Phone Number</label>
				<div class="detail-text">{{ userData.mobilePhone || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Place of Birth</label>
				<div class="detail-text">{{ userData.placeOfBirth || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Date of Birth</label>
				<div class="detail-text">
					{{ userData.dateOfBirth }}
				</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Marital Status</label>
				<div class="detail-text">{{ userData.maritalStatus || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Address</label>
				<div class="detail-text">{{ userData.address || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">UID</label>
				<div class="detail-text">{{ userData.userResponse?.uid || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Role</label>
				<div class="detail-text">{{ userData.userResponse?.role || '-' }}</div>
			</div>
			<div class="col-12 md:col-6 mb-4">
				<label class="detail-label">Status</label>
				<div class="detail-text">
					<p-tag [value]="userData.userResponse?.status || '-'"
						[severity]="userData.userResponse?.status === 'ACTIVE' ? 'success' : 'danger'">
					</p-tag>
				</div>
			</div>
		</div>
	</p-card>
</div>